<ion-tabs >

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="account">
      <ion-icon color="danger" name="home" style="font-size: 19px;"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon color="danger" name="pricetags" style="font-size: 19px;"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon color="danger" name="notifications" style="font-size: 19px;"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="closes" >
      <ion-icon color="danger" name="close-circle" style="font-size: 19px;"></ion-icon>
      <ion-label>Exit</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
